.App {
  text-align: center;
}
.bg-color{
  background-color: #a1a1e1;
}

.dashboard {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .1));
   
    backdrop-filter: blur(10px);
    
}


.primary-color{
  background-color:#282828;
}
.secondary-color{
  background-color:#4a4a4a;
}

.primaryButtonColor{
  background-color:#3e3e3e;
  color:orange;
  cursor:pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
