* {
  text-align: center;
  transition:0.2s all;
 
}

.bottomArrow::after{
    content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.f-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    z-index: 10;
}

.post-modal {
    position: absolute;
  
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    outline: none;
    background-color: #ffffff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    border-color: none;
    padding: 2rem;
    color: white;
    transition:0.5s all;
}


.bg-color{
  background-color: #a1a1e1;
}

.dashboard {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .1));
   
    backdrop-filter: blur(10px);
    
}


.primary-color{
  background-color:#282828;
}
.secondary-color{
  background-color:#4a4a4a;
}

.primaryButtonColor{
  background-color:#3e3e3e;
  color:orange;
  cursor:pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: transparant;
    -webkit-border-radius: 10px;
    padding:2px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}